body {
    background-image: url("http://tr1.cbsistatic.com/hub/i/2014/04/16/0467843f-63cc-4899-ae2c-8b347ba598b0/binary-digital.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000006;
    opacity: 0.8;

    font-weight: bold;
    text-decoration: ThreeDDarkShadow;
    text-align: center;
    color: #00ff33;

    margin: auto;
    box-shadow: #000006;
}

a{
    font-size: 12px;
    font-weight: bold;
    text-decoration: ThreeDLightShadow;
    color:#00ff66;
}
a:hover{
    font-size: 12px;
    font-weight: bold;
    text-decoration: ThreeDLightShadow;
    color: #00ff33;

}
div{
    background-size: contain ;
    background-color:#000006;
    max-height: 30em;
    padding-bottom: 3px;
    padding-top: 3px;
    font-weight:bold; font-style:italic; font-color:#00ff33;
}

